body {
  margin: 0;
}

#canvas {
  background: radial-gradient(#424242, #000000);
  height: 100vh;
  /* width: 50%; */
}

/* .container {
  display: flex;
}
.left {
  width: 50%;
}

.right {
  flex-grow: 1;
} */
